<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/data/jpa
           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/jeeCrud"/>
        <property name="username" value="jeeCrud"/>
        <property name="password" value=""/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="org.example.maskacrud.entity"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>


    <bean id="memberSingleton" class="org.example.maskacrud.entity.Member" scope="singleton">
        <constructor-arg value="M001"/>
        <constructor-arg value="John"/>
        <constructor-arg value="Doe"/>
        <constructor-arg value="ID123456"/>
        <constructor-arg value="Moroccan"/>
        <constructor-arg value="#{T(java.time.LocalDate).now()}"/>
        <constructor-arg value="#{T(java.time.LocalDate).now().plusYears(1)}"/>
    </bean>
    <bean id="memberPrototype" class="org.example.maskacrud.entity.Member" scope="prototype">
        <constructor-arg value="M002"/>
        <constructor-arg value="Jane"/>
        <constructor-arg value="Smith"/>
        <constructor-arg value="ID654321"/>
        <constructor-arg value="French"/>
        <constructor-arg value="#{T(java.time.LocalDate).now()}"/>
        <constructor-arg value="#{T(java.time.LocalDate).now().plusYears(2)}"/>
    </bean>


    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:component-scan base-package="org.example.maskacrud.service"/>
    <context:component-scan base-package="org.example.maskacrud.repository"/>
    <jpa:repositories base-package="org.example.maskacrud.repository"/>

</beans>
